// @import './../../../../cms/_styles/variables.scss';

.toggle-wrapper {
  position: relative;

  .toggle {
    position: absolute;
    top: 45px;
    right: 0;
    width: 70px;
    white-space: nowrap;
    color: unquote('hsl(var(--bc)') / unquote('var(--tw-text-opacity))');
    border: 0 none;
    background-color: transparent;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
